<div class="container">
  <div class="page-header">
    <h2>{{book.volumeInfo.title}} <small>{{book.volumeInfo.authors.join(', ')}}</small></h2>
  </div>
  <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="prev()">Voltar</a>
  <br><br>
  <div class="row">
      <div class="col-md-4">
        <img ng-src="{{book.volumeInfo.imageLinks.small}}" class="img-responsive center-block img-thumbnail">
      </div>
      <div class="col-md-8">
        <label>Descrição</label>
        <p ng-bind="book.volumeInfo.description"></p>
      </div>
  </div>
</div>